@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{box-sizing:
     border-box;
     margin: 0;
    }
.headerCompClass{
    width:auto;
    height:60px;
    background: #FF8282;
}
.content{
    display: grid;
    padding: 3%;
    gap:26px;

}
.titlecompClass{
    width: 271px;
    height: 61px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;

    
    
    color: #000000;
    

}
.form__class{
    display: grid;
    gap: 26px;
}
.content__chat{
    display: grid;
    padding: 3%;
    min-height: 100vh;
    display: grid;
    align-content: space-around;

}